<div id="managementContents">
	<div id="main">
		<h2>店舗編集 -<span id="shopName"><%= studioArea.name %></span>-</h2>
	    <div id="studioEditorm">
	        <form class="management_form" action="/studio/edit/execute" method="POST" name="studioEdit">
				<input type="hidden" name="studioAreaId" value="<%= studioArea.id %>"></input>
				<h4>【店舗名】</h4>
				<p class="error hidden">店舗名は必須です</p>
				<input type="text" name="studioAreaName" value="<%= studioArea.name %>"></input>
				<h4>【電話番号】(ハイフンなし)</h4>
				<p class="error hidden">電話番号(数字のみ)は必須です</p>
				<input type="tel" name="tel" value="<%= studioArea.tel %>"></input>
				<h4>【最寄駅】</h4>
				<textarea name="studioStation" rows="4" cols="40"><%= studioArea.nearStation %></textarea>
				<h4>【住所】</h4>
				<textarea name="studioAddress" rows="4" cols="40"><%= studioArea.address %></textarea>
				<h4>【お支払い方法】</h4>
				<textarea name="studioPayment" rows="4" cols="40"><%= studioArea.paymentMethod %></textarea>
				<div id="prices">
					<h4>【営業時間】</h4>
					<h6>■時間帯</h6>
					<select name="startHour">
					  <option value="00">00</option>
					  <option value="01">01</option>
					  <option value="02">02</option>
					  <option value="03">03</option>
					  <option value="04">04</option>
					  <option value="05">05</option>
					  <option value="06">06</option>
					  <option value="07">07</option>
					  <option value="08">08</option>
					  <option value="09">09</option>
					  <option value="10">10</option>
					  <option value="11">11</option>
					  <option value="12">12</option>
					  <option value="13">13</option>
					  <option value="14">14</option>
					  <option value="15">15</option>
					  <option value="16">16</option>
					  <option value="17">17</option>
					  <option value="18">18</option>
					  <option value="19">19</option>
					  <option value="20">20</option>
					  <option value="21">21</option>
					  <option value="22">22</option>
					  <option value="23">23</option>
					</select>
					<select name="startMinutes">
					  <option value="00">00</option>
					  <option value="30">30</option>
					</select>
						〜
					<select name="endHour">
					  <option value="00">00</option>
					  <option value="01">01</option>
					  <option value="02">02</option>
					  <option value="03">03</option>
					  <option value="04">04</option>
					  <option value="05">05</option>
					  <option value="06">06</option>
					  <option value="07">07</option>
					  <option value="08">08</option>
					  <option value="09">09</option>
					  <option value="10">10</option>
					  <option value="11">11</option>
					  <option value="12">12</option>
					  <option value="13">13</option>
					  <option value="14">14</option>
					  <option value="15">15</option>
					  <option value="16">16</option>
					  <option value="17">17</option>
					  <option value="18">18</option>
					  <option value="19">19</option>
					  <option value="20">20</option>
					  <option value="21">21</option>
					  <option value="22">22</option>
					  <option value="23">23</option>
					</select>
					<select name="endMinutes">
					  <option value="00">00</option>
					  <option value="30">30</option>
					</select>
				</div>
				<h4>【更衣室】</h4>
		    	<input type="radio" name="lockerRoomFlag" value="1" checked>ある
		    	<input type="radio" name="lockerRoomFlag" value="0">ない
				<h4>【駐車場】</h4>
		    	<input type="radio" name="parkingFlag" value="1" checked>ある
		    	<input type="radio" name="parkingFlag" value="0">ない
				<h4>【キャンセル期間】</h4>
				<textarea name="cancelRemark" rows="4" cols="40"><%= studioArea.cancelRemark %></textarea>
				<h4>【備考】</h4>
				<textarea name="studioRemarks" rows="4" cols="40"><%= studioArea.remark %></textarea>
			</form>
		    <!-- キャンセルボタン -->
		    <a class="remodal-cancel" href="/studio" data-remodal-action="cancel">戻る</a>
		    <!-- OKボタン -->
		    <a href="javascript:void(0)" class="remodal-confirm"  style="display:inline-block">変更する</a>
		</div>
	</div>
</div>