<div id="managementContents">
	<div id="main">
		<h2>スタジオ編集 -<span id="studioName"><%= studioAreaRoom.name %></span>-</h2>
	    <div id="studioAreaEditForm">
	        <form class="management_form" action="/studio_area/edit/execute" method="POST" name="studioAreaEdit">
				<input type="hidden" name="studioAreaRoomId" value="<%= studioAreaRoom.id %>"></input>
				<h4>【店舗】：<%= studioArea.name %></h4>
				<h4>【スタジオ名】</h4>
				<p class="error nameError hidden">スタジオ名は必須です</p>
				<input type="text" name="name" value="<%= studioAreaRoom.name %>"></input>
				<h4>【広さ】</h4>
				<p class="error roomError hidden">広さを入力して下さい</p>
				<textarea name="roomSize" rows="4" cols="40"><%= studioAreaRoom.roomSize %></textarea>
				<h4>【写真】</h4>
				<p><img id="picture"></p>
				<input type="file" name="imagePath" accept="image/jpeg,image/png">
	 			<h4>【最大人数】</h4>
				<p class="error maximumError hidden">最大人数を入力して下さい</p>
				<input type="text" name="maximumNumber" value="<%= studioAreaRoom.maximumNumber %>"></input>
				<h4>【鏡】</h4>
				<textarea name="mirror" rows="4" cols="40"><%= studioAreaRoom.mirror %></textarea>
				<h4>【ジャンル】</h4>
				<p class="genre_list">
					<% _.each(danceGenreTypeMap, function(danceGenreType) { %>
						<span class="genre">
							<input type="checkbox" name="genre" value="<%= danceGenreType.id %>" checked="checked">
							<span class="genre_name"><%= danceGenreType.name %></span>
						</span>
					<% }); %>
				</p>
				<h4>【床材】</h4>
				<select name="floorMaterial">
					<option value="flooring">フローリング</option>
					<option value="linoleum">リノリウム</option>
					<option value="other">その他</option>
				</select>
				<h4>【スピーカー】</h4>
				<textarea name="speaker" rows="4" cols="40"><%= studioAreaRoom.speaker %></textarea>
				<h4>【ミキサー】</h4>
				<textarea name="mixer" rows="4" cols="40"><%= studioAreaRoom.mixer %></textarea>
				<h4>【CD】</h4>
				<input type="radio" name="compactDiscFlag" value="">可
				<input type="radio" name="compactDiscFlag" value="" checked>不可
				<h4>【MD】</h4>
				<input type="radio" name="microDiscFlag" value="">可
				<input type="radio" name="microDiscFlag" value="" checked>不可
				<h4>【mp3】</h4>
				<input type="radio" name="mp3Flag" value="">可
				<input type="radio" name="mp3Flag" value="" checked>不可
				<h4>【その他音響】</h4>
				<textarea name="otherAcoustic" rows="4" cols="40"></textarea>
				<h4>【照明調光】</h4>
				<input type="radio" name="illumination" value="">有
				<input type="radio" name="illumination" value="" checked>無
				<h4>【Wi-Fi】</h4>
				<input type="radio" name="wifiFlag" value="">有
				<input type="radio" name="wifiFlag" value="" checked>無
				<h4>【備考】</h4>
				<textarea name="explanation" rows="4" cols="40"></textarea>
			</form>
		    <!-- キャンセルボタン -->
		    <a class="remodal-cancel" href="/studio_area" data-remodal-action="cancel">戻る</a>
		    <!-- OKボタン -->
		    <a href="javascript:void(0)" class="remodal-confirm" style="display:inline-block">登録</a>
		</div>
	</div>
</div>