<div id="calendarContents">
	<div id="sub">
		<div id="studioList">
			<h3>スタジオ一覧</h3>
			<ul>
				<% _.each(studioAreaList, function(studioArea) {  %>
					<li class="price" style="margin-left:20px"><strong><%= studioArea.name %></strong></li>
					<% _.each(studioArea.studioAreaRoomList, function(studioAreaRoom) {  %>
					    <li style="margin-left:40px"><a href="/calendar?studioAreaRoomId=<%= studioAreaRoom.id %>"><%= studioAreaRoom.name %></a></li>
					<% }); %>
				<% }); %>
			</ul>
		</div>
	</div>
	<div id="main">
		<h2 id="studioName"><%= showStudioArea.name %> <%= showStudioAreaRoom.name %></h2>
		<div id="calendar"></div>
	</div>
	<div class="remodal" data-remodal-id="event_add">
	    <!-- モーダルのタイトル -->
	    <h2>登録</h2>
	    <div id="eventAdd" class="form">
	        <form action="/calendar/regist" method="POST" name="regist" accept-charset="utf-8">
		    	<h3></h3>
		    	<p>タイトル</p>
		    	<input type="text" name="title" value="">
		    	<p>タイプ</p>
		    	<input type="radio" name="status" value="busy" checked> 予定あり
		    	<input type="radio" name="status" value="free"> 予約可能
				<input type="radio" name="status" value="temporary"> 仮予約
				<input type="radio" name="status" value="fixed"> 本予約
		    	<p>開始日時</p>
		    	<input type="date" name="startDate" value="">
		    	<input type="time" name="startTime" value="">
		    	<p>終了日時</p>
		    	<input type="date" name="endDate" value="">
		    	<input type="time" name="endTime" value="">
				<input type="hidden" name="studioAreaRoomId" value="<%= showStudioAreaRoom.id %>"></input>
			</form>
	    </div>
	    <!-- キャンセルボタン -->
	    <a class="remodal-cancel" href="#" data-remodal-action="cancel">Cancel</a>
	    <!-- OKボタン -->
        <a href="javascript:void(0)" onclick="document.regist.submit();return false;" class="remodal-confirm" data-remodal-action="confirm" style="display:inline-block">OK</a>
	</div>
	<div class="remodal" data-remodal-id="event_edit">
	    <!-- モーダルのタイトル -->
	    <h2>編集</h2>
	    <div id="eventEdit" class="form">
	        <form action="/calendar/edit" method="POST" name="edit" accept-charset="utf-8">
		    	<h3></h3>
		    	<p>タイトル</p>
		    	<input type="text" name="title" value="">
		    	<p>タイプ</p>
		    	<input type="radio" name="status" value="busy" checked> 予定あり
		    	<input type="radio" name="status" value="free"> 予約可能
				<input type="radio" name="status" value="temporary"> 仮予約
				<input type="radio" name="status" value="fixed"> 本予約
				<p>開始日時</p>
		    	<input type="date" name="startDate" value="">
		    	<input type="time" name="startTime" value="">
		    	<p>終了日時</p>
		    	<input type="date" name="endDate" value="">
		    	<input type="time" name="endTime" value="">
				<input type="hidden" name="studioAreaRoomReserveId" value=""></input>
				<input type="hidden" name="studioAreaRoomId" value="<%= showStudioAreaRoom.id %>"></input>
			</form>
	        <form action="/calendar/delete" method="POST" name="delete" accept-charset="utf-8">
				<input type="hidden" name="studioAreaRoomReserveId" value=""></input>
				<input type="hidden" name="studioAreaRoomId" value="<%= showStudioAreaRoom.id %>"></input>
			</form>
	    </div>
	    <!-- キャンセルボタン -->
	    <a class="remodal-cancel" href="#" data-remodal-action="cancel">Cancel</a>
	    <!-- 削除 -->
		<a href="javascript:void(0)" onclick="document.delete.submit();return false;" class="remodal-confirm" data-remodal-action="confirm" style="display:inline-block">削除</a>
	    <!-- OKボタン -->
        <a href="javascript:void(0)" onclick="document.edit.submit();return false;" class="remodal-confirm" data-remodal-action="confirm" style="display:inline-block">OK</a>
	</div>
</div>
<script>
	serverParams.studio = <%- JSON.stringify(studio); %>
	serverParams.showStudioArea = <%- JSON.stringify(showStudioArea); %>
	serverParams.showStudioAreaRoom = <%- JSON.stringify(showStudioAreaRoom); %>
	serverParams.studioAreaRoomReserveList = <%- JSON.stringify(studioAreaRoomReserveList); %>

	var events = [];
	serverParams.studioAreaRoomReserveList.forEach(function(studioAreaRoomReserve, index){
		var color = '#00FFFF';
		if (studioAreaRoomReserve.status == 'free') {
		var color = '#AAAAAA'
		} else if (studioAreaRoomReserve.status == 'temporary') {
			color = '#FFCCCC';
		} else if (studioAreaRoomReserve.status == 'fixed') {
			color = '#E57373';
		}
		events.push({
			id : studioAreaRoomReserve.id,
			title : studioAreaRoomReserve.title,
			start : studioAreaRoomReserve.start,
			end : studioAreaRoomReserve.end,
			status: 1,
			color: color,
			textColor: '#000000'
		});
	});
	var studio = {
		"id": "100",
		// "name": "A101",
		// "place": "渋谷スタジオ", 
		"events": events
	}

	var week = [ "日", "月", "火", "水", "木", "金", "土"]

	var defaultSettingHour = 2

	$(document).ready(function() {
		// $("#studioName").text(studio.place + " " + studio.name) ;

		// for(var i in studios){
	 //    	$("#studioList ul").append("<li class='place'><strong>" + studios[i].place + "</strong></li>");
	 //    	for(var j in studios[i].info){
	 //        	$("#studioList ul").append("<li><a href='calendar.html?studio="+studios[i].info[j].id+"'>" + studios[i].info[j].name + "</a></li>");
	 //    	}
		// }

		// 初期表示を現在時刻にカーソルさせる
		var current_day = new Date();
	    var current_hours = current_day.getHours() + 5;
	    var current_minutes = current_day.getMinutes();
	    var first_scroll_time = current_hours + ":" + current_minutes + ":00"

		// カレンダー周りの設定
		$('#calendar').fullCalendar({
			height: 800,
			defaultView: 'agendaWeek',
			header: {
				left: 'prev, next',
				center: 'title',
				right: 'month agendaWeek agendaDay'
			},
			// ボタン文字列
			buttonText: {
			    prev:     '<',
			    next:     '>',
			    today:    '今日',
			    month:    '月',
			},
			// 月名称
			monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
			// 月略称
			monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
			// 曜日名称
			dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
			// 曜日略称
			dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
			// タイトルの書式
			titleFormat: {
			    month: 'YYYY年 M月'
			},
			// 列の書式
			columnFormat: {
			    month: 'ddd',
			    week: 'D（ddd）'
			},
			// 行の時間の書式
			axisFormat: 'H:mm',
			// 時間の書式
			timeFormat: 'H:mm',
			scrollTime: first_scroll_time,
			// 初期表示の日付
			//defaultDate: '2016-01-12',
			editable: false,
			eventLimit: true, // allow "more" link when too many events
			// APIのレスポンスは以下の形式で
			events: studio.events,
			// カレンダーのどこかをクリックしたらイベントを作る
	        dayClick: function(date, allDay, jsEvent, view) {
	            // $('#calendar').fullCalendar('addEventSource', [{
	            //     title: '峰岸 啓人 様',
	            //     start: '2016-05-10T11:00:00',
	            //     end: '2016-05-10T13:00:00'
	            // }]);
	            $("[data-remodal-id=event_add]").remodal().open();
	           	var selectedDate = new Date(date)
	           	var year = selectedDate.getFullYear()
	           	var month = selectedDate.getMonth() + 1
	           	var day = selectedDate.getDate()
	           	var youbi = week[selectedDate.getDay()]
	            $("#eventAdd h3").text(month + "月" + day + "日（" + youbi + "）");

	            var fullMonthString = fullString(month);
	            var fullDayString = fullString(day);
	            var dateString = year + "-" + fullMonthString + "-" + fullDayString
	            $("#eventAdd input[name='startDate']").val(dateString)
	            $("#eventAdd input[name='endDate']").val(dateString)

	            var hour = selectedDate.getHours() - 9 >= 0 ? selectedDate.getHours() - 9 : 24+(selectedDate.getHours() - 9) 
	            console.log(hour)
	            var minutes = selectedDate.getMinutes();
	            $("#eventAdd input[name='startTime']").val(fullString(hour) + ":" + fullString(minutes))
	            
	            if (hour + defaultSettingHour > 23) {
	            	var overHour = fullString(hour + defaultSettingHour - 24)
	            	$("#eventAdd input[name='endTime']").val(overHour + ":" + minutes)
	            	var fullDayString = fullString(day + 1);
	            	var dateString = year + "-" + fullMonthString + "-" + fullDayString
	            	$("#eventAdd input[name='endDate']").val(dateString)
	            } else {
	            	$("#eventAdd input[name='endTime']").val(fullString(hour + defaultSettingHour) + ":" + fullString(minutes))	
	            }
	            

	        },
	        eventClick: function(calEvent, jsEvent, view) {
	            // calEvent.title = '峰岸 啓人 様';
	            // calEvent.start = '2016-04-12T17:00:00'
	            // calEvent.end = '2016-04-12T19:00:00'
	            // $('#calendar').fullCalendar('updateEvent', calEvent);
	            var title = calEvent.title;
	        	$("[data-remodal-id=event_edit]").remodal().open();
	         	$("#eventEdit input[name='studioAreaRoomReserveId']").val(calEvent.id);
	         	$("#eventEdit input[name='title']").val(title);

	         	var selectedDate = calEvent.start._d;

	         	var year = selectedDate.getFullYear()
	         	var month = selectedDate.getMonth() + 1
	           	var day = selectedDate.getDate()
	           	var youbi = week[selectedDate.getDay()]
	           	console.log(year)
	            $("#eventEdit h3").text(month + "月" + day + "日（" + youbi + "）");

	            var fullMonthString = fullString(month);
	            var fullDayString = fullString(day);
	            var dateString = year + "-" + fullMonthString + "-" + fullDayString
	            $("#eventEdit input[name='startDate']").val(dateString)
	            $("#eventEdit input[name='endDate']").val(dateString)

	            var hour = selectedDate.getHours() - 9 >= 0 ? selectedDate.getHours() - 9 : 24+(selectedDate.getHours() - 9) 
	            console.log(hour)
	            var minutes = selectedDate.getMinutes();
	            $("#eventEdit input[name='startTime']").val(fullString(hour) + ":" + fullString(minutes))
	            
	            if (hour + defaultSettingHour > 23) {
	            	var overHour = fullString(hour + defaultSettingHour - 24)
	            	$("#eventEdit input[name='endTime']").val(overHour + ":" + minutes)
	            	var fullDayString = fullString(day + 1);
	            	var dateString = year + "-" + fullMonthString + "-" + fullDayString
	            	$("#eventEdit input[name='endDate']").val(dateString)
	            } else {
	            	$("#eventEdit input[name='endTime']").val(fullString(hour + defaultSettingHour) + ":" + fullString(minutes))	
	            }  
	        }
		});

		function fullString(defaultString) {
	    	return (defaultString < 10 ? "0" : "")  + defaultString;
	    }
	});
</script>