<div id="stage" class="lunch paT0" style="position:relative">

    <% _.each(userLunchBoxList, function(userLunchBox){ %>
	    <h1 class="lunch_title"><%= dateformat(userLunchBox.lunchBox.saleDate, 'yyyy年m月dd日') %>の予約</h1>
	    <ul class="lunch_list_wrapper">
	        <li class="lunch_menu_layout2 order_flag">
	            <div class="lunch_menu_image">
	                <img src="<%= userLunchBox.lunchBox.imagePath %>" alt="" width="100%;" height="100%;">
	            </div>
	            <div class="text_layout_m maL5">
	                <p><%= userLunchBox.lunchBox.name %></p>
	                <p>販売場所：<%= userLunchBox.lunchBox.store %></p>
	            </div>
	            <div class="text_layout_m maL5">
	                <p class="text_right"><%= userLunchBox.lunchBox.price %>円</p>
	            </div>
        		<a href="/reserved/detail?id=<%= userLunchBox.id %>" class="order_button">詳細</a>
	        </li>
	    </ul>
    <% }); %>
</div>