<div id="managementContents">
	<div id="main">
		<h2>料金追加</h2>
	    <div id="studioAreaRoomFeestructureForm">
	        <form class="management_form" action="/studio_feestructure/regist/execute" method="POST" name="studioFeestructureRegist">
		    	<input type="hidden" name="studioAreaRoomId" value="<%= studioAreaRoom.id %>">
				<h4>【店舗】: <%= studioArea.name %></h4>
				<h4>【スタジオ】: <%= studioAreaRoom.name %></h4>
				<h4>【曜日】</h4>
				<select name="dayTypeId">
					<% _.each(dayTypeMap, function(dayType) { %>
						<option value="<%= dayType.id %>"><%= dayType.name %></option>
					<% }); %>
				</select>

				<div id="price">
					<h4>【時間帯】</h4>
					<select name="startHour">
					  <option value="00">00</option>
					  <option value="01">01</option>
					  <option value="02">02</option>
					  <option value="03">03</option>
					  <option value="04">04</option>
					  <option value="05">05</option>
					  <option value="06">06</option>
					  <option value="07">07</option>
					  <option value="08">08</option>
					  <option value="09">09</option>
					  <option value="10">10</option>
					  <option value="11">11</option>
					  <option value="12">12</option>
					  <option value="13">13</option>
					  <option value="14">14</option>
					  <option value="15">15</option>
					  <option value="16">16</option>
					  <option value="17">17</option>
					  <option value="18">18</option>
					  <option value="19">19</option>
					  <option value="20">20</option>
					  <option value="21">21</option>
					  <option value="22">22</option>
					  <option value="23">23</option>
					</select> :

					<select name="startMinutes">
					  <option value="00">00</option>
					  <option value="05">05</option>
					  <option value="10">10</option>
					  <option value="15">15</option>
					  <option value="20">20</option>
					  <option value="25">25</option>
					  <option value="30">30</option>
					  <option value="35">35</option>
					  <option value="40">40</option>
					  <option value="45">45</option>
					  <option value="50">50</option>
					  <option value="55">55</option>
					</select>
					〜
					<select name="endHour">
					  <option value="00">00</option>
					  <option value="01">01</option>
					  <option value="02">02</option>
					  <option value="03">03</option>
					  <option value="04">04</option>
					  <option value="05">05</option>
					  <option value="06">06</option>
					  <option value="07">07</option>
					  <option value="08">08</option>
					  <option value="09">09</option>
					  <option value="10">10</option>
					  <option value="11">11</option>
					  <option value="12">12</option>
					  <option value="13">13</option>
					  <option value="14">14</option>
					  <option value="15">15</option>
					  <option value="16">16</option>
					  <option value="17">17</option>
					  <option value="18">18</option>
					  <option value="19">19</option>
					  <option value="20">20</option>
					  <option value="21">21</option>
					  <option value="22">22</option>
					  <option value="23">23</option>
					</select> :

					<select name="endMinutes">
					  <option value="00">00</option>
					  <option value="05">05</option>
					  <option value="10">10</option>
					  <option value="15">15</option>
					  <option value="20">20</option>
					  <option value="25">25</option>
					  <option value="30">30</option>
					  <option value="35">35</option>
					  <option value="40">40</option>
					  <option value="45">45</option>
					  <option value="50">50</option>
					  <option value="55">55</option>
					</select>

					<h4>【単位時間あたりの料金】</h4>
					<p class="error priceError hidden">料金を入力して下さい</p>
					<input type="text" name="price" size-"5" value=""></input>
					<span>/</span>
					<select name="priceTypeId">
						<% _.each(priceTypeMap, function(priceType) { %>
							<option value="<%- priceType.id %>"><%= priceType.name %></option>
						<% }); %>
					</select>

					<h4>【備考】</h4>
					<textarea name="remark"></textarea>
				</div>
			</form>
		    <!-- キャンセルボタン -->
		    <a class="remodal-cancel" href="/studio_feestructure" data-remodal-action="cancel">戻る</a>
		    <!-- OKボタン -->
		    <a href="javascript:void(0)" class="remodal-confirm" style="display:inline-block">OK</a>
		</div>
	</div>
</div>